@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Configuration.IConfiguration _iconfig
@inject GoWebApp.Client.Services.IGetProfileService _getUser
@implements IAsyncDisposable
@attribute [Authorize]

@if (username != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
               <p>List of all people/click for chat</p>
            </div>
            <div class="col-auto">
                <p>chat window. You can type, it works now. All of the clients connected at the same time see this</p>
                <div class="form-group">
                    Username: @username
                    <br />
                    <div class="form-group">
                        <label>
                            Message:
                            <input @bind="messageInput" size="50" />
                        </label>
                    </div>
                    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
                </div>
                <hr>

                <ul id="messagesList">
                    @foreach (var message in messages)
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        </div>
    </div>
   
}



@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string username = null;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        var neki = await _getUser.GetProfileInfo();
        username = neki.Username;
        var token = "token2"; // to se mora ujemat szi tem kar mas pod jwt bearer token
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gohub"), options =>
            {
            //options.AccessTokenProvider = () => Task.FromResult();
            options.Headers.Add("Authorization", $"Bearer {token}");
            })
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    async Task Send() =>
        await hubConnection.SendAsync("SendMessage", username, messageInput);

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}