@page "/chat"
@inject NavigationManager _nav
@attribute [Authorize]

<h3>Chat</h3>   
<button class="btn-dark" @onclick="@Room1">Room1</button>


@code {
    private void Room1()
    {
        
    }
}
