@page "/"
@inject NavigationManager _navManager

<AuthorizeView>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
    <Authorized>
        <p>Hey, @context.User.Identity.Name</p>
    </Authorized>
</AuthorizeView>

@code {

}