@page "/profile"
@inject GoWebApp.Client.Services.IGetProfileService _getUser
@attribute [Authorize]
<h3>Profile</h3>

@if(user == null)
{
    <span>Loading...</span>
}
else
{
    <h3>@user.Username</h3>
    <h3>@user.Email</h3>
}

@code {
    private User user;
    protected override async Task OnInitializedAsync()
    {
        user = await _getUser.GetProfileInfo();
    }
}
